  .highlight {
    background-color: yellow;
    font-weight: bold;
  }

  h3 {
    color: rgb(11, 219, 28);
    font-weight: normal;
    font-size: 18px;
    font-family: Arial;
    text-transform: lowercase;
  }
